*{
	background-color: rgb(204, 211, 242);	
	margin: 0;
	padding: 0;
}

h1 {
    text-align: center;
	margin: 8px; 
    color: black;
}

table {
	border-spacing: 0;	
	margin-left: 2px;
	margin: auto;
}

td {
	border: solid 1px #000000;
	padding: 5px;
	text-align: center;
	border-right: none;
	border-bottom: none;
}

td:last-child {
	border-right: solid 1px #000000;
}

tr:last-child td {
	border-bottom: solid 1px #000000;	
}

tr:first-child{
	font-weight: bolder;
	font-style: unset;
}